.headerComp {
    padding-left: 40px;
    padding-right: 40px;
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: url('../../src/img/bannerHeaderCardapio.svg');
    background-size: cover;
    background-position: center; /* Centraliza a imagem no container */
    h1 {
        white-space: nowrap;
    }
    &__lis {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    &__component {
        padding-top: 33px;
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        color: white;
    }

    &__component-text {
        text-decoration: none;
        color: white;
    }
}

@media (max-width: 940px) {
    .headerComp {
        font-size: 10px;
        &__component {
            padding: 10px;
            flex-direction: column;
            ul {
                display: flex;
            }
        }
    }
}

@media (max-width: 485px) {
    .headerComp {
        width: 100%;
        &__lis {
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
            // Classe .dropdown-menu definida diretamente dentro de .header__abas
            .dropdown-menu {
                position: absolute;
                top: 100%;
                left: 0;
                width: 200px;
                background-color: #fff;
                border: 1px solid #ccc;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                padding: 0;

                li {
                    padding: 10px;
                    border-bottom: 1px solid #ccc;
                    cursor: pointer;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
        }
    }
}
