.bebidas {
    background-color: #FDD7B466;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-align: center;
        margin-bottom: 20px;
    }

    &__cards {
        display: grid;
        width: 90%;
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__content {
        background-color: #e9c7a766;
        padding: 10px;
    }

    &__itens {
        margin-top: 16px;
    }
}

@media (max-width: 800px) {
    .bebidas {
        &__cards {
            grid-template-columns: repeat(1, 1fr);
            max-width: none;
        }
<<<<<<< HEAD
    }

=======
  }
>>>>>>> 98b829da0a6b0c07269a80720ba403d16379b217
}