.header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;

    &__abas {
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
        }
        ul li {
            cursor: pointer;
        }
    }
}

.Cardapio {
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 40px;
    h1 {
        text-align: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    // &__category {
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     gap: 50px;
    //     width: 90%;
    // }

    &__content {
        background-color: #e9c7a766;
        padding: 10px;
    }
}

@media (max-width: 800px) {
        .responsive {
                grid-template-columns: repeat(1, 1fr);
                max-width: none;
        }

        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__menu-icon {
                display: flex;
                align-items: center;
                gap: 10px;
                i {
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
            &__abas {
                width: 15%;
                ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    position: relative;
            
                    li {
                        display: flex;
                        
                        justify-content: center;
                        align-items: center;
                        padding: 10px 15px;
                        cursor: pointer;
                        position: relative;
            
                        &:hover {
                            background-color: #f5f5f5;
                        }
                    }
                    
                    // Classe .dropdown-menu definida diretamente dentro de .header__abas
                    .dropdown-menu {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 200px;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        padding: 0;
            
                        li {
                            padding: 10px;
                            border-bottom: 1px solid #ccc;
                            cursor: pointer;
            
                            &:last-child {
                                border-bottom: none;
                            }
            
                            &:hover {
                                background-color: #f5f5f5;
                            }
                        }
                    }
                }
            }
        }
    }