.salgados{
  background-color: #FDD7B466;
  padding-bottom: 50px;
  h1{
    text-align: center;
    padding: 30px;
  }
 
  &__categorias{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 1400px;
    justify-content: center;
    padding: 0 20px;
    margin: 0 auto;
    
    .salgados-card{
      h2{
        text-align: center;
        margin: 10px 0;
      }
      .salgados-content{
        h3{
          text-align: end;
          font-weight: 400;
          margin: 20px 0 5px 0;
          font-size: 1rem;
          background-color: #e9c7a766;
          padding: 5px;
        }
        &__produtos{
          .item{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0px 0;
            &__buttons{
              display: flex;
              justify-content: end;
              button{
                width: 20px;
                border-radius: 50%;
                border: none;
                background-color: #D9D9D9;
                margin: 0 5px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

  }
}

@media (max-width: 800px) {
  .salgados{
    &__categorias{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}