@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.modalBG{
    background-color: rgba(0, 0, 0, 0.7);
  
    position: fixed ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: '1000';
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Playfair Display;

    &__modal{
        
        background-color: #B68F5D;
        width: 800px;
        height: 780px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        text-align: center;

        padding-left: 20px;
        padding-right: 20px;       

        position: fixed;
        top: 2.5%;
        left: 25%;      
    }

    &__modal-fechar{
        justify-content: end;
        align-items: end;
        text-align: end;
        margin-top: 15px;
        cursor: pointer;
    }

    &__modal-text{
        font-family: Playfair Display;
        font-size: 35px;
        color: white;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 70px;
    }

    &__modal-equipe{
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        width: 500px;
        height: 300px;
    }
}