@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.modalBG{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: '1000';
    justify-content: center;
    text-align: center;
    font-family: Playfair Display;

    &__modal{
        background-color: #C7B886;
        width: 90%; 
        max-width: 800px; 
        height: auto; 
        border-radius: 15px;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px; 
        position: fixed;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);   
    }

    &__modal-fechar{
        justify-content: end;
        text-align: end;
        margin-top: 15px;
        cursor: pointer;
    }

    &__modal-text{
        font-family: Playfair Display;
        font-size: 20px;
        color: white;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 70px;
    }

    &__modal-logo{
        width: 10%;
        height: auto; /* Ajuste a altura proporcionalmente à largura */
        max-height: 10vh;
    }

    &__modal-equipe{
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        width: 90%; /* Use porcentagem em vez de um valor fixo em pixels */
        max-width: 500px; /* Adicione um limite máximo para o tamanho da imagem */
        height: auto; /* O modal ajustará a altura conforme o conteúdo */
        max-height: 50vh;
    }
}

@media screen and (max-width: 600px) {
    .modalBG__modal {
      width: 95%; /* Ajuste a largura para telas menores */
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .modalBG__modal-text {
      font-size: 24px; /* Ajuste o tamanho da fonte para telas menores */
    }
  }