.doces {
    background-color: #FDD7B466;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__card {
        display: grid;
        width: 90%;
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);

        &-title {
            margin-top: 20px;
        }
    }
    &__content {
        background-color: #e9c7a766;
        padding: 10px;
    }
    &__itens {
        margin-top: 16px;
    }
}