.nameProduto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
    h1 {
        margin: 0;
        color: #000;
        font-family: Playfair Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__btn {
        display: flex;
        align-items: center;
        margin: 0;
        h1 {
            white-space: nowrap;
        }
        button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            background-color: #D9D9D9;
            margin: 0 5px;
            cursor: pointer;
        }
    }
}