body {
  margin: 0;
  padding: 0;
}

.carrossel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.item.active {
  opacity: 1;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}  

.geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo img {
  width: 200px;
}

.texto-divino {
  color: #fff;
  text-align: center;
  font-family: Mulish;
}

.texto-divino h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: Mulish;
}

.texto-divino span {
  font-weight: 800;
}

.btn button {
  margin: 0 0 0 15px;
  background-color: #fff;
  border: none;
  width: 110px;
  height: 40px;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
}

#button-menu {
  color: #000;
  text-decoration: none;
}